:root {
  --white: #f2f3f4;
  --black: #212329;
  --gray: #2a2e37;
  --blue: #1e90ff;
  --red: #ff3f2f;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif !important;
}

#navbar {
  background-color: var(--gray);
}

.dropdown-toggle::after {
  display: none;
}

@media screen and (width < 768px) {
  .nav-pills .nav-link.active {
    background-color: var(--gray);
  }
}

/* this is for testing my navbar hehe */
#home,
#about-me,
#projects,
#contact {
  height: 1000px;
}

#home {
  background-color: #1e90ff;
}

#about-me {
  background-color: #f2f3f4;
}

#projects {
  background-color: #212329;
}

#contact {
  background-color: #ff3f2f;
}
