:root {
  --white: #f2f3f4;
  --black: #212329;
  --gray: #2a2e37;
  --blue: #1e90ff;
  --red: #ff3f2f;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif !important;
  background-color: var(--black) !important;
  color: var(--white) !important;
}

::selection {
  background-color: var(--blue);
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style-type: none;
}

.duc-minhh {
  color: var(--blue);
  font-family: "Rubik", sans-serif !important;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

#navbar {
  background-color: var(--gray);
}

.navbar-brand {
  color: #ffffff;
  font-size: 1.75rem;
  line-height: 1.5;
}

.navbar-brand:hover {
  color: var(--white) !important;
}

.nav-link {
  color: var(--white) !important;
}

.nav-link:hover {
  color: var(--blue) !important;
}

.nav-link.active,
.nav-link.show {
  color: var(--blue) !important;
}

@media screen and (width < 768px) {
  .nav-link:hover {
    color: var(--white) !important;
  }

  .nav-link.active,
  .nav-link.show {
    color: var(--white) !important;
  }
}

#home {
  height: calc(100vh - 72px);
}

.hero {
  text-align: left;
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
  position: relative;
  top: -5px;
  left: -10px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hero-sub-highlight {
  font-weight: 600;
}

.hero-sub-highlight:hover {
  color: var(--black);
  text-shadow: -1px -1px 0px var(--blue), 1px -1px 0px var(--blue),
    -1px 1px 0px var(--blue), 1px 1px 0px var(--blue);
}

.carousel > .carousel-inner > .carousel-item > img {
  border-radius: 5px;
}

#projects,
#contact {
  margin-top: 5rem !important;
  margin-bottom: 5rem !important;
}

.card-project {
  transition: all 0.2s ease-in-out;
}

.card-project:hover {
  cursor: pointer;
  transform: translateY(-2.5px);
}

.card-title {
  font-weight: 600;
}

.card-title .html-tag {
  display: inline-block;
  color: transparent;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

.card-title:hover .html-tag {
  color: var(--blue);
  visibility: visible;
}

.form-control {
  background-color: var(--gray);
  color: var(--white);
  border: none;
}

.form-control:focus,
.form-control:active {
  border: 1px solid var(--blue);
  box-shadow: none;
}

.btn-submit {
  border: 1.5px solid var(--white);
  border-radius: 9999px;
  padding: 6px 20px;
  color: var(--white);
}

.btn-submit:hover {
  background-color: var(--gray);
  border: 1.5px solid var(--white);
}

.contact-link {
  display: inline-block;
  opacity: 0.55;
  transition: all 0.2s ease-in-out;
}

.contact-link:hover {
  opacity: 1;
  transform: translateY(-2.5px);
}

:root {
  --footer-height: 52px;
  --footer-height-mobile: 72px;
}

.footer {
  background-color: var(--gray);
  height: var(--footer-height);
}

@media screen and (width < 768px) {
  .footer {
    height: var(--footer-height-mobile);
  }
}

.btn-back-to-top {
  position: fixed;
  bottom: calc(var(--footer-height) / 2);
  right: calc(var(--footer-height) / 2);
  z-index: 9999;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  border-radius: 50%;
  display: none;
}

.btn-back-to-top:hover {
  background-color: var(--blue);
  border: none;
}
