@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --white: #ffffff;
  --black: #121721;
  --blue: #5fa4f9;
  --gray: #2a2e37;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--black);
  color: var(--white);
}

/* navbar */
.navbar {
  background-color: var(--gray);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.navbar-left {
  margin-left: 2rem;
}

.navbar-right {
  margin-right: 2rem;
}

.navbar-name {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--white);
  font-size: 3.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.navbar-nav {
  display: flex;
}

.navbar-nav-item {
  list-style: none;
  padding: 2.5rem;
  font-size: 1.75rem;
}

.navbar-nav-link {
  text-decoration: none;
  color: var(--white);
  opacity: 0.55;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;
}

.navbar-nav-link:hover {
  opacity: 0.9;
}

.navbar-nav-link i.fa {
  margin-right: 0.5rem;
  vertical-align: top;
}
/* end navbar */

#home,
#about-me,
#my-projects,
#contact {
  width: 100%;
  padding-top: 10vh;
  /* test only, remember to remove when done */
  /* border-bottom: 1px solid var(--white); */
}

/* home */
#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10rem;
}

.hero-name,
.hero-desc {
  line-height: 1.2;
}

.hero-title {
  font-size: 5rem;
}

.hero-name {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.hero-name .name {
  font-size: 7rem;
  font-weight: 700;
  color: var(--blue);
}

.hero-title .wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.hero-desc {
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
}
/* end home */

/* about me */
#about-me {
  text-align: center;
}
.about-me-title {
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5rem;
}

.about-me-content {
  width: 100%;
  padding: 2rem 10rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10rem;
}

.about-me-img {
  grid-column: 1 / 2;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 0 10px #000000;
}

.about-me-text {
  grid-column: 2 / 4;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 auto;
  text-align: justify;
}

.my-resume-btn {
  border: 1px solid var(--white);
  border-radius: 10px;
  display: inline-block;
  margin-bottom: 5rem;
  padding: 0.8rem 1.6rem;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.my-resume-btn:hover {
  background-color: var(--gray);
  color: var(--white);
  text-decoration: underline;
}
/* end about me */

/* my projects */
.projects-title {
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
  /* margin-left: 10rem;
  margin-bottom: 5rem; */
  margin: 0 10rem 5rem 10rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5rem;
  padding: 0 5rem;
  margin-bottom: 5rem;
}

.card {
  border: 2px solid var(--gray);
  border-radius: 12px;
  box-shadow: #000000 2px 2px 2px 0;
  transition: background-color 0.15s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 1rem;
  /* margin-bottom: 1rem; */
}

.card-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

/* .card-title::before,
.card-title::after {
  content: "";
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.card-title:hover::before {
  content: "< ";
  opacity: 1;
  color: var(--blue);
}

.card-title:hover::after {
  content: " >";
  opacity: 1;
  color: var(--blue);
} */

.card-title .code {
  display: inline-block;
  color: var(--black);
  transition: color 0.3s ease-in-out;
}

.card-title:hover .code {
  color: var(--blue);
}

.card-text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.card-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem auto;
}

.card-btn {
  border: 1.5px solid var(--white);
  border-radius: 9999px;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  margin: 1rem;
  font-size: 1.75rem;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.card-btn:hover {
  background-color: var(--gray);
  color: var(--white);
}
/* end my projects */

/* contact me */
.contact-title {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 5rem;
  margin-left: 5rem;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 5rem;
  margin-bottom: 5rem;
  gap: 5rem;
}

form,
.contact-info {
  flex: 1 1 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 50rem;
}

input,
textarea {
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 0.8rem 1.6rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--gray);
  color: var(--white);
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--blue);
}

textarea {
  resize: none;
  margin-bottom: 1.5rem;
}

input[type="submit"] {
  border: 1px solid var(--white);
  border-radius: 10px;
  display: inline-block;
  padding: 0.6rem 1.2rem;
  margin: 1rem;
  font-size: 2rem;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

button[type="submit"] {
  align-self: start;
  background-color: var(--black);
  border: 2px solid var(--white);
  border-radius: 9999px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: 500;
  margin: 1rem;
  margin-left: 0;
  padding: 0.6rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out;
}

button[type="submit"]:hover {
  background-color: var(--gray);
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-text {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.contact-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-links a {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--white);
  opacity: 0.55;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.contact-links a:hover {
  opacity: 1;
  transform: translateY(-2px);
}
/* end contact me */

/* footer */
.footer {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray);
}

.footer-text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
}
/* end footer */
